{% comment %}
** Image with text (half and half view) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% comment %}{{ 'aos.css' | asset_url | stylesheet_tag }}{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.2/plugins/debug.addIndicators.min.js"></script>
{% if section.settings.frontpage_grid_style == false %}
  <div class="container">
    <div class="sixteen columns" style="position: relative;">
{% endif %}
<div class="iphone">
    <p class="screen screenHat"><img src="img/img_scrollMagic.png" /></p>
    <p class="screen screenA">A</p>
    <p class="screen screenB">B</p>
    <p class="screen screenC">C</p>
</div>

<div  id="one" class="scroll_section">
    <div class="inner innerS1">
        <h1>Simple ScrollMagic Tutorial</h1>
        <p>Learn how to create a <strong>simple scrolling website</strong> using ScrollMagic</p>
    </div>
</div>
<div  id="two" class="scroll_section">
    <div class="innerText innerS2">
        <h2>Why to learn ScrollMagic?</h2>
        <ul class="features">
            <li>It's great for <strong>story telling websites</strong></li>
            <li>It gives you <strong>endless creative power</strong></li>
            <li>It's <strong>easy to use</strong> once you get it</li>
        </ul>
    </div>
</div>
<div  id="three" class="scroll_section">
    <div class="innerText innerS3">
        <h2>When to use ScrollMagic?</h2>
        <ul class="features">
            <li>When building <strong>interactive infographics</strong></li>
            <li>When introducing your <strong>product or service</strong></li>
            <li>When sharing your <strong>unique story or timeline</strong></li>
        </ul>
    </div>
</div>
<div  id="four" class="scroll_section">
    <div class="innerText innerS4">
        <h2>Want to learn more?</h2>
    </div>

</div>

<style>
  .scroll-timline-section {
    position: relative;
  }
  .scroll_section {
    /*position: absolute;*/
    margin-left: 50%
  }
  .iphone {
    width: 290px;
    height: 80vh;
    border-radius: 10px;
    position: sticky;
    top: 10px;

    background-color: #3757D0;
    background-image: -webkit-radial-gradient(#81bcff, #5d7fce);
    background-image: radial-gradient(#81bcff, #5d7fce);
  }
</style>
{% if section.settings.frontpage_grid_style == false %}
    </div>
  </div>
{% endif %}

<style>

  {% for block in section.blocks %}
    .block--{{ block.id }} {
      background-color: {{ block.settings.bg_color }};
    }

    .block--{{ block.id }} .collection_title,
    .block--{{ block.id }} p {
      color: {{ block.settings.text_color }};
    }

    .block--{{ block.id }} a.button {
      color: {{ block.settings.text_color }};
      border-color: {{ block.settings.text_color }};
    }
  {% endfor %}

  {% if section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '1' %}
      #shopify-section-{{ section.id }} .featured-link--section {
        margin-bottom: 3%;
      }
      @media only screen and (max-width: 480px) {
        #shopify-section-{{ section.id }} .featured-link--section {
          margin-bottom: 10%;
        }
      }

      #shopify-section-{{ section.id }} .featured-link--half {
        width: 45%;
      }
      #shopify-section-{{ section.id }} .featured-link--margin {
        {% if section.settings.frontpage_image_position == 'right' %}
          margin-left: 3%;
        {% else %}
          margin-left: 0;
          margin-right: 3%;
        {% endif %}
      }
      #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {

          margin-left: 0;
          margin-right: 3%;

      }

    {% elsif section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '2' %}

        @media only screen and (max-width: 480px) {
          #shopify-section-{{ section.id }} .featured-link--section {
            margin-bottom: 10%;
          }
        }

        #shopify-section-{{ section.id }} .featured-link--margin {
          margin-right: 0;
          margin-left: 0;
        }

        #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
          margin-left: 0;
          margin-right: 0;
        }

      {% endif %}

      .line {
        height: 2px;
        width:2px;
        background: green;
        max-height: 600px;
      }

</style>

{% comment %}<script src="{{ 'aos.js' | asset_url }}"></script>{% endcomment %}


{% schema %}
{
  "name": "Scroll Time Line",
  "class": "scroll-time-line-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "select",
      "id": "time_line_position",
      "label": "Time line position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },


    {
      "type": "select",
      "id": "frontpage_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "frontpage_image_position",
      "label": "Image position",
      "info": "Subsequent images will appear staggered",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },





    {
      "type": "checkbox",
      "id": "frontpage_grid_style",
      "label": "Wide display"
    },
    {
      "type": "select",
      "id": "featured_links_per_row",
      "label": "Images per row",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    }





  ],
  "blocks": [
    {
      "type": "image",
      "name": "Steps",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "text",
          "id": "step_logo",
          "label": "Logo (SVG)"
        },
        {
          "type": "select",
          "id": "image_crop",
          "label": "Image cropping",
          "default": "none",
          "info": "Only applied when text area is taller than image.",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View all"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Scroll Time Line",
    "category": "Image",
    "settings": {
      "featured_links_per_row": "1",
      "frontpage_text_align": "left"
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
