{% comment %}
** Image with text (half and half view) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% comment %}{{ 'aos.css' | asset_url | stylesheet_tag }}{% endcomment %}
<div class="scroll-magic">


<section
    data-no-instant="true"
    class="animation desktop"
    data-scene-length="{{ section.blocks | size }}"
    data-scene-duration="{{ section.settings.duration }}">

  {% if section.blocks.size > 0 %}
    <div class="logo-line">
      {% for block in section.blocks %}
        <div class="step{{ forloop.index }} step">
          {% if block.settings.logo != blank %}
            <p class="logo-label">{{ block.settings.logo_title }}</p>
            <div>
              <img id="logo-active{{forloop.index}}" class="logo-active" src="{{ block.settings.logo_active }}" alt="{{ block.settings.logo_title }}">
              <img class="logo-item" src="{{ block.settings.logo }}" alt="{{ block.settings.logo_title }}">
            </div>
            <div class="after"></div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% for block in section.blocks %}

       <div id="high{{forloop.index}}" data-index="{{forloop.index}}" class="animated">
          <div id="biglogo{{forloop.index}}" class="big-logo">
            {% if block.settings.logo != blank %}
              <img src="{{ block.settings.logo }}" alt="{{ block.settings.logo_title }}">
            {% endif %}
          </div>
          <div class="left">
            {% if block.settings.image != blank %}
              {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt %}
            {% endif %}
          </div>
          <div id="right{{forloop.index}}" class="right">
            {% if block.settings.title != blank %}
              <h3 class="headline">{{ block.settings.title }}</h3>
            {% endif %}
            {% if block.settings.subtitle != blank %}
              <h4 class="subtitle">{{ block.settings.subtitle}}</h4>
            {% endif %}
            {% if block.settings.content != blank %}
              <div id="content{{forloop.index}}" class="content">{{block.settings.content}}</div>
            {% endif %}

            {% if block.settings.button_label != blank %}
              <a href="{{block.settings.button_url}}" class="action_button highlight-false">{{block.settings.button_label}}</a> <br>
            {% endif %}

            {% if block.settings.link_label != blank %}
              <a href="{{block.settings.link_url}}" class="subbutton2">{{block.settings.link_label}}</a>
            {% endif %}

          </div>
       </div>
    {% endfor %}
  {% endif%}
</section>

<section class="mobile">
  {% if section.blocks.size > 0 %}
    <div class="logos-mob">
      {% for block in section.blocks %}
        <div class="logo{{ forloop.index }} logo-mob" data-join="art{{ forloop.index }}">
          {% if block.settings.logo != blank %}

          <img class="logo-mob-img" src="{{ block.settings.logo }}" alt="{{ block.settings.logo_title }}">
          <img class="logo-mob-active" src="{{ block.settings.logo_active }}" alt="{{ block.settings.logo_title }}">

          <p class="logo-mob-label">{{ block.settings.logo_title }}</p>

          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="content_for_logo">
      {% for block in section.blocks %}
        <div id="art{{ forloop.index }}" class="content_text">

          {% if block.settings.title != blank %}
            <h3 class="headline">{{ block.settings.title }}</h3>
          {% endif %}

          {% if block.settings.content != blank %}
            <div id="content{{forloop.index}}" class="content">{{block.settings.content}}</div>
            <span id="readMore">(...)</span>
          {% endif %}

          {% if block.settings.button_label != blank %}
            <a href="{{block.settings.button_url}}" class="action_button highlight-false">{{block.settings.button_label}}</a> <br>
          {% endif %}

          {% if block.settings.link_label != blank %}
            <a href="{{block.settings.link_url}}" class="subbutton2">{{block.settings.link_label}}</a>
          {% endif %}

          </div>
      {% endfor %}
    </div>
  {% endif %}
</section>
</div>









{% schema %}
{
  "name": "Scroll Time Line",
  "class": "scroll-time-line-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "range",
      "id": "duration",
      "label": "Duration",
      "info": "How long to scroll to get next div",
      "min": 500,
      "max": 5000,
      "default": 1000,
      "step": 500,
      "unit": "px"

    }
  ],
  "blocks": [
    {
      "type": "Scene",
      "name": "Scene",
      "settings": [
        {
          "type": "text",
          "id": "logo",
          "label": "Logo (SVG)"
        },
        {
          "type": "text",
          "id": "logo_active",
          "label": "Logo (SVG)",
          "info": "Different logo when active"
        },
        {
          "type": "text",
          "id": "logo_title",
          "label": "Logo Label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Découvrir les engagements"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button url"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "Link label",
          "default": "Découvrir les engagements"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link url"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Scroll Time Line",
    "category": "Image",
    "settings": {
    },
    "blocks": [

    ]
  }]
}
{% endschema %}
